@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
body {
    font-family: 'Ubuntu Condensed', sans-serif;

  background-image: url('https://static-cdn.jtvnw.net/jtv_user_pictures/mtndew-profile_image-6e274bdaf492c618-300x300.png');
}

h1 {
    color:white
}

h4 {
    color:white
}
